{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}



{% block content %}

{% addtoblock "css" %}

    <link href="{% static "resources/css/jquery-ui-themes.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "resources/css/axure_rp_page.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "data/styles.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "files/словарь/styles.css" %}" type="text/css" rel="stylesheet"/>


{% endaddtoblock %}

{% addtoblock "js" %}

     <script src="{% static "resources/scripts/jquery-1.7.1.min.js" %}"></script>
    <script src="{% static "resources/scripts/jquery-ui-1.8.10.custom.min.js" %}"></script>
    <script src="{% static "resources/scripts/axure/axQuery.js" %}"></script>
    <script src="{% static "resources/scripts/axure/globals.js" %}"></script>
    <script src="{% static "resources/scripts/axutils.js" %}"></script>
    <script src="{% static "resources/scripts/axure/annotation.js" %}"></script>
    <script src="{% static "resources/scripts/axure/axQuery.std.js" %}"></script>
    <script src="{% static "resources/scripts/axure/doc.js" %}"></script>
    <script src="{% static "data/document.js" %}"></script>
    <script src="{% static "resources/scripts/messagecenter.js" %}"></script>
    <script src="{% static "resources/scripts/axure/events.js" %}"></script>
    <script src="{% static "resources/scripts/axure/action.js" %}"></script>
    <script src="{% static "resources/scripts/axure/expr.js" %}"></script>
    <script src="{% static "resources/scripts/axure/geometry.js" %}"></script>
    <script src="{% static "resources/scripts/axure/flyout.js" %}"></script>
    <script src="{% static "resources/scripts/axure/ie.js" %}"></script>
    <script src="{% static "resources/scripts/axure/model.js" %}"></script>
    <script src="{% static "resources/scripts/axure/repeater.js" %}"></script>
    <script src="{% static "resources/scripts/axure/sto.js" %}"></script>
    <script src="{% static "resources/scripts/axure/utils.temp.js" %}"></script>
    <script src="{% static "resources/scripts/axure/variables.js" %}"></script>
    <script src="{% static "resources/scripts/axure/drag.js" %}"></script>
    <script src="{% static "resources/scripts/axure/move.js" %}"></script>
    <script src="{% static "resources/scripts/axure/visibility.js" %}"></script>
    <script src="{% static "resources/scripts/axure/style.js" %}"></script>
    <script src="{% static "resources/scripts/axure/adaptive.js" %}"></script>
    <script src="{% static "resources/scripts/axure/tree.js" %}"></script>
    <script src="{% static "resources/scripts/axure/init.temp.js" %}"></script>
    <script src="{% static "files/словарь/data.js" %}"></script>
    <script src="{% static "resources/scripts/axure/legacy.js" %}"></script>
    <script src="{% static "resources/scripts/axure/viewer.js" %}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>

{% endaddtoblock "js" %}

 <div id="base" class="">

      <!-- Unnamed (Flow Shape) -->
      <div id="u0" class="ax_flow_shape">
        <img id="u0_img" class="img " src="images/словарь/u0.png"/>
        <!-- Unnamed () -->
        <div id="u1" class="text">
          <p><span>&nbsp;</span></p>
        </div>
      </div>

      <!-- Unnamed (Flow Shape) -->
      <div id="u2" class="ax_flow_shape">
        <img id="u2_img" class="img " src="images/словарь/u2.png"/>
        <!-- Unnamed () -->
        <div id="u3" class="text">
          <p><span>&nbsp;</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u4" class="ax_shape">
        <img id="u4_img" class="img " src="images/словарь/u4.png"/>
        <!-- Unnamed () -->
        <div id="u5" class="text">
          <p><span>&nbsp;</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u6" class="ax_shape">
        <img id="u6_img" class="img " src="images/словарь/u6.png"/>
        <!-- Unnamed () -->
        <div id="u7" class="text">
          <p><span>&nbsp;</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u8" class="ax_shape">
        <img id="u8_img" class="img " src="images/словарь/u6.png"/>
        <!-- Unnamed () -->
        <div id="u9" class="text">
          <p><span>&nbsp;</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u10" class="ax_shape">
        <img id="u10_img" class="img " src="images/словарь/u6.png"/>
        <!-- Unnamed () -->
        <div id="u11" class="text">
          <p><span>&nbsp;</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u12" class="ax_shape">
        <img id="u12_img" class="img " src="images/словарь/u6.png"/>
        <!-- Unnamed () -->
        <div id="u13" class="text">
          <p><span>&nbsp;</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u14" class="ax_text_field">
        <input id="u14_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u15" class="ax_image">
        <img id="u15_img" class="img " src="images/home/u7.jpg"/>
        <!-- Unnamed () -->
        <div id="u16" class="text">
          <p><span>&nbsp;</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u17" class="ax_droplist">
        <select id="u17_input">
          <option value="RU">RU</option>
          <option value="EN">EN</option>
        </select>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u18" class="ax_droplist">
        <select id="u18_input">
          <option value="RU">RU</option>
          <option value="EN">EN</option>
          <option value="DE">DE</option>
        </select>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u19" class="ax_image">
        <img id="u19_img" class="img " src="images/home/u11.png"/>
        <!-- Unnamed () -->
        <div id="u20" class="text">
          <p><span>&nbsp;</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u21" class="ax_droplist">
        <select id="u21_input">
          <option value="RU">RU</option>
          <option value="EN">EN</option>
        </select>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u22" class="ax_droplist">
        <select id="u22_input">
          <option value="RU">RU</option>
          <option value="EN">EN</option>
          <option value="DE">DE</option>
        </select>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u23" class="ax_checkbox">
        <label for="u23_input">
          <!-- Unnamed () -->
          <div id="u24" class="text">
            <p><span>поиск по примерам</span></p>
          </div>
        </label>
        <input id="u23_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u25" class="ax_checkbox">
        <label for="u25_input">
          <!-- Unnamed () -->
          <div id="u26" class="text">
            <p><span>еще язык</span></p>
          </div>
        </label>
        <input id="u25_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u27" class="ax_checkbox">
        <label for="u27_input">
          <!-- Unnamed () -->
          <div id="u28" class="text">
            <p><span>искать во всех языках</span></p>
          </div>
        </label>
        <input id="u27_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u29" class="ax_paragraph">
        <img id="u29_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u30" class="text">
          <p><span>доступно 1111 из 22334234 мемов</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u31" class="ax_image">
        <img id="u31_img" class="img " src="images/home/u23.jpg"/>
        <!-- Unnamed () -->
        <div id="u32" class="text">
          <p><span>&nbsp;</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u33" class="ax_text_field">
        <input id="u33_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u34" class="ax_image">
        <img id="u34_img" class="img " src="images/home/u7.jpg"/>
        <!-- Unnamed () -->
        <div id="u35" class="text">
          <p><span>&nbsp;</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u36" class="ax_droplist">
        <select id="u36_input">
          <option value="RU">RU</option>
          <option value="EN">EN</option>
          <option value="DE">DE</option>
          <option value="FR">FR</option>
        </select>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u37" class="ax_droplist">
        <select id="u37_input">
          <option value="EN">EN</option>
          <option value="FR">FR</option>
          <option value="DE">DE</option>
        </select>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u38" class="ax_image">
        <img id="u38_img" class="img " src="images/home/u11.png"/>
        <!-- Unnamed () -->
        <div id="u39" class="text">
          <p><span>&nbsp;</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u40" class="ax_droplist">
        <select id="u40_input">
          <option value="RU">RU</option>
          <option value="EN">EN</option>
          <option value="FR">FR</option>
        </select>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u41" class="ax_droplist">
        <select id="u41_input">
          <option value="DE">DE</option>
          <option value="FR">FR</option>
        </select>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u42" class="ax_checkbox">
        <label for="u42_input">
          <!-- Unnamed () -->
          <div id="u43" class="text">
            <p><span>поиск по примерам</span></p>
          </div>
        </label>
        <input id="u42_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u44" class="ax_checkbox">
        <label for="u44_input">
          <!-- Unnamed () -->
          <div id="u45" class="text">
            <p><span>еще язык</span></p>
          </div>
        </label>
        <input id="u44_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u46" class="ax_checkbox">
        <label for="u46_input">
          <!-- Unnamed () -->
          <div id="u47" class="text">
            <p><span>искать во всех языках</span></p>
          </div>
        </label>
        <input id="u46_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u48" class="ax_paragraph">
        <img id="u48_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u49" class="text">
          <p><span>доступно 1111 из 22334234 мемов</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u50" class="ax_image">
        <img id="u50_img" class="img " src="images/home/u23.jpg"/>
        <!-- Unnamed () -->
        <div id="u51" class="text">
          <p><span>&nbsp;</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u52" class="ax_h1">
        <img id="u52_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u53" class="text">
          <p><span>Словарь</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u54" class="ax_image">
        <img id="u54_img" class="img " src="images/словарь/u54.png"/>
        <!-- Unnamed () -->
        <div id="u55" class="text">
          <p><span>&nbsp;</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u56" class="ax_paragraph">
        <img id="u56_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u57" class="text">
          <p><span>слово RU [транскрипция]</span></p><p><span>пример</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u58" class="ax_paragraph">
        <img id="u58_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u59" class="text">
          <p><span>слово EN</span><span> [транскрипция]</span></p><p><span>пример</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u60" class="ax_paragraph">
        <img id="u60_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u61" class="text">
          <p><span>слово DE [транскрипция]</span></p><p><span>пример</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u62" class="ax_paragraph">
        <img id="u62_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u63" class="text">
          <p><span>слово FR [транскрипция]</span></p><p><span>пример</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u64" class="ax_image">
        <img id="u64_img" class="img " src="images/словарь/u64.png"/>
        <!-- Unnamed () -->
        <div id="u65" class="text">
          <p><span>&nbsp;</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u66" class="ax_image">
        <img id="u66_img" class="img " src="images/словарь/u64.png"/>
        <!-- Unnamed () -->
        <div id="u67" class="text">
          <p><span>&nbsp;</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u68" class="ax_image">
        <img id="u68_img" class="img " src="images/словарь/u68.png"/>
        <!-- Unnamed () -->
        <div id="u69" class="text">
          <p><span>&nbsp;</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u70" class="ax_h1">
        <img id="u70_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u71" class="text">
          <p><span>&lt;</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u72" class="ax_h1">
        <img id="u72_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u73" class="text">
          <p><span>&gt;</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u74" class="ax_text_field">
        <input id="u74_input" type="text" value="1"/>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u75" class="ax_paragraph">
        <img id="u75_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u76" class="text">
          <p><span>из</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u77" class="ax_h1">
        <img id="u77_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u78" class="text">
          <p><span>10</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u79" class="ax_paragraph">
        <img id="u79_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u80" class="text">
          <p><span>слово RU [транскрипция]</span></p><p><span>пример</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u81" class="ax_paragraph">
        <img id="u81_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u82" class="text">
          <p><span>слово EN</span><span> [транскрипция]</span></p><p><span>пример</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u83" class="ax_paragraph">
        <img id="u83_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u84" class="text">
          <p><span>слово DE [транскрипция]</span></p><p><span>пример</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u85" class="ax_paragraph">
        <img id="u85_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u86" class="text">
          <p><span>слово FR [транскрипция]</span></p><p><span>пример</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u87" class="ax_paragraph">
        <img id="u87_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u88" class="text">
          <p><span>слово RU [транскрипция]</span></p><p><span>пример</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u89" class="ax_paragraph">
        <img id="u89_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u90" class="text">
          <p><span>слово EN</span><span> [транскрипция]</span></p><p><span>пример</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u91" class="ax_paragraph">
        <img id="u91_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u92" class="text">
          <p><span>слово DE [транскрипция]</span></p><p><span>пример</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u93" class="ax_paragraph">
        <img id="u93_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u94" class="text">
          <p><span>слово FR [транскрипция]</span></p><p><span>пример</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u95" class="ax_paragraph">
        <img id="u95_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u96" class="text">
          <p><span>слово RU [транскрипция]</span></p><p><span>пример</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u97" class="ax_paragraph">
        <img id="u97_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u98" class="text">
          <p><span>слово EN</span><span> [транскрипция]</span></p><p><span>пример</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u99" class="ax_paragraph">
        <img id="u99_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u100" class="text">
          <p><span>слово DE [транскрипция]</span></p><p><span>пример</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u101" class="ax_paragraph">
        <img id="u101_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u102" class="text">
          <p><span>слово FR [транскрипция]</span></p><p><span>пример</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u103" class="ax_paragraph">
        <img id="u103_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u104" class="text">
          <p><span>Язык сайта</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u105" class="ax_paragraph">
        <img id="u105_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u106" class="text">
          <p><span>Изучаемый язык</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u107" class="ax_image">
        <img id="u107_img" class="img " src="images/home/u69.png"/>
        <!-- Unnamed () -->
        <div id="u108" class="text">
          <p><span>&nbsp;</span></p>
        </div>
      </div>
    </div>
  {% placeholder "content" %}


{% endblock content %}
