body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:986px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:49px;
  top:51px;
  width:671px;
  height:25px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:25px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1 {
  position:absolute;
  left:776px;
  top:51px;
  width:25px;
  height:24px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u2 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:804px;
  top:51px;
  width:50px;
  height:22px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4 {
  position:absolute;
  left:864px;
  top:51px;
  width:50px;
  height:22px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5 {
  position:absolute;
  left:924px;
  top:51px;
  width:62px;
  height:55px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:55px;
}
#u6 {
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:49px;
  top:86px;
  width:50px;
  height:22px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8 {
  position:absolute;
  left:109px;
  top:86px;
  width:50px;
  height:22px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9 {
  position:absolute;
  left:168px;
  top:93px;
  width:130px;
  height:15px;
}
#u10 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u9_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11 {
  position:absolute;
  left:303px;
  top:93px;
  width:100px;
  height:15px;
}
#u12 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13 {
  position:absolute;
  left:384px;
  top:93px;
  width:168px;
  height:15px;
}
#u14 {
  position:absolute;
  left:16px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u13_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15 {
  position:absolute;
  left:703px;
  top:92px;
  width:210px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:729px;
  top:53px;
  width:18px;
  height:24px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:130px;
  top:118px;
  width:50px;
  height:22px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20 {
  position:absolute;
  left:49px;
  top:123px;
  width:71px;
  height:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:49px;
  top:151px;
  width:110px;
  height:180px;
}
#u22_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:116px;
  height:186px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:185px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:30px;
  width:110px;
  height:30px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:60px;
  width:110px;
  height:35px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:95px;
  width:110px;
  height:85px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:85px;
}
#u31 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:704px;
  top:113px;
  width:210px;
  height:15px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:539px;
  top:83px;
  width:38px;
  height:37px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:37px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:49px;
  top:4px;
  width:223px;
  height:37px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:37px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:180px;
  top:151px;
  width:139px;
  height:76px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:76px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:329px;
  top:151px;
  width:100px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
